<footer id="footer">
  <div class="row">
    <div class="col">
      <p>Author: Ernesto Fernandez Novo <br>
        <a href="mailto:efernov@gmail.com">efernov@gmail.com</a></p>
    </div>
    <div class="col justify-content-stretch">
      <img width="50" height="30" src="assets/imagen casita.jpg" alt="casita">
      <a class="nav-link home" routerLink="/" routerLinkActive="router-link-active">
        <h4><strong>HOME</strong></h4>
      </a>
    </div>
    <div class="col display-2">
      <article class="justify-content-end">
       <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Contacto"
           data-bs-content="Ernesto Fernandez Novo
                          ACING (Hoyo de Manzanares)
                          Telefono: 619287832">Contacto</a>
      </article>
    </div>
  </div>
</footer>
