<footer id="footer">
  <div class="row">
    <div class="col">
      <p>Author: Ernesto Fernandez Novo <br>
        <a href="mailto:efernov@gmail.com">efernov@gmail.com</a></p>
    </div>
    <div class="col">
      <section class="container:align-center">
        <article class="display-2">
          <a class="link active" href="Formulario.html" target="-blank"><i class="fa-solid fa-tooth"></i></a>
          <a class="link active" href="NovoDental.html">
            <i class="fa-solid fa-house-chimney-user"></i>
          </a>
        </article>
      </section>
    </div>
    <div class="col display-2">
      <article class="justify-content-end">
        <i class="fa-solid fa-phone"></i>
        <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Contacto"
           data-content="Ernesto Fernandez Novo
                          ACING (Hoyo de Manzanares)
                          Telefono: 619287832">Contacto</a>
      </article>
    </div>
  </div>
</footer>
