

<section>
  <div class="row">
    <div class="col-1">TIPO_DE_MATERIAL</div>
    <div class="col-1">ID MATERIAL</div>
    <div class="col-1">PRECIO</div>
    <div class="col-1">CANTIDAD</div>
    <div class="col-1">DIAMETRO</div>
    <div class="col-1">LONGITUD</div>
    <div class="col-1">APERTURA</div>
    <div class="col-1">DIRECCION APERTURA</div>


  </div>
  </section>

  <div *ngFor = "let material of materiales">
    <app-material-item [material]="material" (materialSeleccionado) = "verDatos($event)"></app-material-item>
  </div>
