
  <form class="container-fluid">
    <section class="row">
      <article class="col">
        <label>Tipo de Trabajo</label>
        <textarea class="form-control" id="Tipo de Trabajo" rows="4" placeholder="Escriba tipo de trabajo"></textarea><br><br>
        <div class="nav justify-content-end">
          <input class="btn btn-danger btn-sm" type="reset" value="Borrar">
        </div>
      </article>
      <article class="col">
         <div class="nav justify-content-center">
           <div class="flex-column">
            <p>  ID Trabajo:  <input type="text" name="ID Trabajo" size="30"></p>
            <p>  Fecha Entrada Trabajo:  <input type="date" name="fecha" min="2022-01-01" max="2025-01-01"> </p>
            <p>  Fecha Salida Trabajo:  <input type="date" name="fecha" min="2022-01-01" max="2025-01-01"> </p><br><br>
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="nav justify-content-start">

                   <label for="material">Nuevo Material:</label>
                    <select name="material" id="material">
                      <option value="alambre">Alambre</option>
                      <option value="tornillo">Tornillo</option>
                    </select>

                  <span class="nav align-content-center">MATERIALES NECESARIOS</span>
                  </th>
                </tr>
                <tr>
                  <th>DESCRIPCION</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                   <td scope="row"></td>
                   <td></td>
                   <td></td>
                </tr>
                <tr>
                  <td scope="row"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                   <td scope="row"></td>
                   <td></td>
                   <td></td>
                </tr>
              </tbody>
            </table>
          </div>
      </article>
      <article class="col">
        <img  width="300" height="400" src="assets/odontograma.gif" alt="Odontograma" rows="10" col="2">
      </article>
    </section>
    <article class="nav justify-content-center">
      <button type="submit" class="btn btn-outline-success">ACEPTAR</button>

    </article>
  </form>


  <router-outlet></router-outlet>
