<section class="row">
  <h1 class="nav justify-content-center"> TORNILLO </h1>
</section>

<form #tornilloForm="ngForm">
  <section class="row">
    <article class="col-1"></article>
    <article class="col-2"><br>
     <p class="nav justify-content-end"> PRECIO UNIDAD = </p><br><br>
     <p class="nav justify-content-end"> DIRECCION APERTURA = </p><br><br><br>
     <p class="nav justify-content-end"> APERTURA = </p><br><br>
     <div class="form-row justify-content-between pt-5">
      <div class="col-lg-5 col-md-12">
        <button
        class="btn btn-primary"
        role="button"
        (click)="create()"
        routerLink="/ortodoncias/formulario"
        [disabled]="!tornilloForm.valid"
        >
        Crear Tornillo
        </button>
      </div>
    </div>
    </article>
    <article class="col-2">
      <input type="number" class="form-control"
      [(ngModel)]="tornillo.precio"
      name="precio"
      required
      min="0.1"
      max="3.0"
      #precio="ngModel"
      [ngClass]="{
        'is-invalid': precio.invalid && (precio.dirty || precio.touched),
        'is-valid': !precio.invalid}"/>

          <div class="text-danger"
            *ngIf="precio.invalid && (precio.dirty || precio.touched)">
               <div *ngIf="precio.errors?.['required']">
                    El precio del Tornillo es obligatorio
               </div>
          </div><br><br>

        <input type="text" class="form-control"
        [(ngModel)]="tornillo.direccionApertura"
        name="direccionApertura"
        required
        minlength="10"
        maxlength="20"
        #direccionApertura="ngModel"
        [ngClass]="{
          'is-invalid': direccionApertura.invalid && (direccionApertura.dirty || direccionApertura.touched),
          'is-valid': !direccionApertura.invalid}"/>

          <div class="text-danger"
          *ngIf="direccionApertura.invalid && (direccionApertura.dirty || direccionApertura.touched)">
             <div *ngIf="direccionApertura.errors?.['required']">
                  La dirección del Tornillo es obligatoria
             </div>
        </div><br><br>

          <input type="number" class="form-control"
          [(ngModel)]="tornillo.aperturaMilimetros"
          name="aperturaMilimetros"
          required
          min="1"
          max="10"
          #aperturaMilimetros="ngModel"
          [ngClass]="{
            'is-invalid': aperturaMilimetros.invalid && (aperturaMilimetros.dirty || aperturaMilimetros.touched),
            'is-valid': !aperturaMilimetros.invalid}"/>

        <div class="text-danger"
          *ngIf="aperturaMilimetros.invalid && (aperturaMilimetros.dirty || aperturaMilimetros.touched)">
             <div *ngIf="aperturaMilimetros.errors?.['required']">
                  La apertura es obligatoria
             </div>
        </div><br><br>

    </article>
    <article class="col-1">
      <p> € </p><br>
      <p> mm </p><br>
      <p> cm </p>
    </article>
    <article class="col-2"><br>
      <p class="nav justify-content-end"> CANTIDAD = </p>
    </article>

    <article class="col-2">
      <input type="number" class="form-control"
      [(ngModel)]="tornillo.cantidad"
      name="cantidad"
      required
      min="1"
      max="4"
      #cantidad="ngModel"
      [ngClass]="{
        'is-invalid': cantidad.invalid && (cantidad.dirty || cantidad.touched),
        'is-valid': !cantidad.invalid}"/>

    <div class="text-danger"
      *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)">
         <div *ngIf="cantidad.errors?.['required']">
              La cantidad de Tornillos es obligatorio
         </div>
    </div><br><br><br><br><br><br><br><br><br><br>
    <div class="nav justify-content-end">
    <input class="btn btn-danger btn-sm" type="reset" value="Borrar">
    </div>
  </article>




  </section>




</form>
